@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    background-color: #f5fcfd;
    color: #929292;
}

header {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    color: #333333;
}

h2 {
    margin: 0;
    color: #333333;
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
}

h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    color: #333333;
}

h4 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    color: #333333;
}

h5 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 27px;
    color: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

/* top menu */

nav {
    display: flex;
    align-items: center;
    position: relative;
    width: 81%;
    margin: auto;

    user-select: none;
    -webkit-user-select: none;
}

nav a {
    transition: color 0.3s ease;
}

nav a:hover {
    color: #0f7bff;
}

#topMenuAppSonBtn {
    display: inline-block;
    text-align: center;
    line-height: 100px;
}

#topMenuAppSonBtn > a {
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;
    color: #0f7bff;
}

#menuToggle
{
    display: inline-block;
    position: relative;
    margin-left: auto;
    z-index: 1;
}

#menuToggle input
{
    display: none;
}

#menuToggle span
{
    display: none;
}

#menu {
    padding: 0;
    text-transform: uppercase;
    font-weight: 700;
}

#menu li {
    display: inline-block;
    margin-left: 53px;
}

#menu a.active {
    color: #0f7bff;
}

#signUpBtn {
    width: 165px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    background-color: #0063dd;
    color: #ffffff;
}